h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2.5rem;
  color: #af4ca2;
  text-align: center; 
}
p{
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  color: #43076e;
  text-align: center; 
}
img{
img-align: center;
}